@import "headerBurger/HeaderBurger";
@import "log_in/modal/Modal";
@import "log_in/Log_in";
@import "src/components/style/Mixin";


#header {
  background: rgba(10, 17, 40, 0.4);
  backdrop-filter: blur(22px);
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .header {
    @include between();

    &--left {
      @include center();

      &__nav {
        padding-left: 30px;

        a {
          margin: 0 20px;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          transition: .5s;

          &:hover {
            text-decoration-line: underline;
          }
        }

      }

    }

    &--btn {
      @include center();

      &__come {
        background: transparent;
        margin: 0 20px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        transition: .5s;

        &:hover {
          text-decoration-line: underline;
        }
      }

      &__register {
        @include btn();
      }

    }

  }

  .burger {
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;

    &--menu {
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
      border-radius: 1px;
    }

    &--menu:before {
      content: '';
      position: absolute;
      top: 10px;
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
      border-radius: 1px;

    }

    &--menu:after {
      content: '';
      position: absolute;
      top: 20px;
      border-radius: 1px;
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
    }
  }
}
