@import "headerBurger/HeaderBurger";
@import "log_in/modal/Modal";
@import "log_in/Log_in";


#header {
  .header {
    background: #0A1128;
    position: fixed;
    z-index: 99;
    width: 93%;
    margin: -30px 0 0 -10px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-nav {
        a {
          font-weight: 500;
          font-size: 16px;
          margin: 0 20px;
          color: #FFFFFF;
        }

        .active {
          border-bottom: 1px solid #FFFFFF;
        }
      }
    }

    &-btn {
      margin-right: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;

      &-come, &-register {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: none;
        border: none;
        cursor: pointer;
      }

      &-register {
        width: 190px;
        height: 45px;
        background: #034078;
        border-radius: 5px;
        transition: .4s;

        &:hover {
          transform: scale(1.1);
          background: transparent;
          border: 2px solid #034078;
          text-align: center;

          &:active {
            position: relative;
            top: 3px;
            transition: 5ms;
            color: #FFFFFF;
            background: none;
            border: none;
            text-align: center;

          }
        }

        &-come {
          &:active {
            position: relative;
            top: 3px;
            transition: 5ms;
            width: 80px;
            height: 45px;

            border-radius: 5px;
          }
        }
      }

      &-icon {
        background: none;
        font-size: 22px;
        color: #FFF;
        margin: 0 20px 0 0;
        border: none;

      }
    }
  }

  .burger {
    position: relative;
    display: none;
    justify-content: space-between;
    //align-items: center;
    &-menu {
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
      border-radius: 1px;
    }

    &-menu:before {
      content: '';
      position: absolute;
      top: 10px;
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
      border-radius: 1px;

    }

    &-menu:after {
      content: '';
      position: absolute;
      top: 20px;
      border-radius: 1px;
      width: 42px;
      Height: 3.5px;
      background: #FFFFFF;
    }
  }
}
