@import "modal/Modal";

#logIn {
  .logIn--page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__img {
      img{
        width: 180px;
        padding-bottom:40px;
      }

    }

    &__inputs {
      &--item {
        &__email {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #FFFFFF;
          padding: 30px 0;
          position: relative;

          h1 {
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            position: absolute;
            background: #0A1128;
            top: 6px;
            left: 21px;
          }

          h2 {
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            background: #0A1128;
            position: absolute;
            top: 4px;
            left: 20px;
          }

          input, input {
            width: 670px;
            height: 62px;
            color: #FFFFFF;
            padding: 0 20px;
            font-size: 24px;
            font-weight: 400;
            text-transform: capitalize;
            background:none;
            border-radius: 10px;;
            border: 1px solid white;

          }

          &--email input {
            text-transform: lowercase;
          }
          .iconPassword{
            position: absolute;
            top: 50px;
            font-size: 20px;
            right: 10px;
          }
        }

        &__btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          button {
            width: 271px;
            height: 56px;
            background: #044076;
            border-radius: 10px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            cursor: pointer;
          }
          a {
            font-weight: 500;
            font-size: 16px;
            text-decoration-line: underline;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
.line{
  margin-top: 4px;
}