#hero {
  background: url("./../../../../../assets/img/herobgggggg.png") no-repeat top/cover;
  min-height: 160vh;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      padding-top: 290px;

      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: #FFFFFF;
      }

      p {
        padding-top: 35px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
      }
    }

    &--right {
      &__img {
        img{
          width: 110%;
          border-radius: 50%;
        }
      }
    }
  }

  .articles {
    display: flex;
    justify-content: center;
    padding-top: 499px;

    h1 {
      color: #ffffff;
      font-size: 25px;
    }

  }
}